@import "template.css";

/* base.css ------- aaronlademann.com ------- */
/* RESET */
body { overflow-x: hidden; background: #fff url("/_images/_template/body-bg.gif") left top repeat-x !important; }
body,p { font: 13px/20px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; color: #484848; }
/* TYPE */
p { margin-bottom: 18px;  }
small { font-size: 11px; line-height: 16px; }
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }

/* LAYOUT */
.clear { clear: both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }
.fixed { position: fixed; }
.static { position: static; }
.relative { position: relative; }
.imr span { display: none; }
.floatL, .floatR { position: relative; }
.floatL { float: left; left: 0; }
.floatR { float: left; right: 0; }

img { behavior: url(/_includes/_resources/iepngfix.htc); border: 0; }
img.left { float: left; margin: 2px 20px 16px 0; }
img.right { float: right; margin: 2px 0 16px 20px; }
img.across { margin: 2px 0 16px 0; }
img.flushleft { margin-left: -20px; }
img.flushright { margin-right: -20px; }



/* CONTENT AREA TEMPLATES */
#contentWrap {
	min-height: 470px;
	height: auto;
	width: 100%;
	position: absolute;
	top: 80px;
	padding-top: 33px;
}
*html #contentWrap { height: 400px; }
#hero {
	width: 958px;
	height: 400px;
	/*background-color: Red;*/
}
#hero .feature, #hero .callout {
	position: absolute;
	left: 0;
	top: 0;
	/*background-color: Green;*/
}
#hero .feature {
	width: 567px;
	height: 386px;
	left: -7px;
}
#hero .callout {
	width: 418px;
	height: auto;
	left: 560px;
}
.content {
	position: relative;
	height: auto;
	/* center horizontally */
	width: 958px; /* 998px */
	padding: 0 20px;
	left: 50%;
	margin-left: -499px;
	/*background-color: Blue;*/
}
hr.contentDivider {
	width: 958px;
	height: 60px;
	/*position: relative;
	z-index: 1;*/
	left: 0;
	top: 0;
	background: url("/_images/_template/section-shade.png") -20px top no-repeat;
	border: 0 none;
	margin: 0;
	color: Transparent;
	margin-bottom: -30px;
}
.section {
	width: 100%;
	position: relative;
	min-height: 200px;
	height: auto;
	background: url("/_images/_template/section.png") left top repeat-x;
}
*html .section { height: 200px; }
.project .desc { padding: 0 2% 50px 2%; }
.projectThumb {
	display: block;
	position: relative;
	width: 280px;
	height: 102px;
	background: url("/_images/_template/feature-thumbnail.png") left bottom no-repeat;
}
.projectThumb:hover { background-position: left top; }
.projectThumb img {
	border: 0 none;
	outline: 0;
	position: absolute;
	left: 9px;
	bottom: 9px;
}
/* buttons */
.btn {
	display: block;
	padding: 12px 20px;
	height: 10px;
	line-height: 10px;
	width: auto;
	text-transform: uppercase;
	border: 1px solid #e8e8e8;
	background: Transparent url("/_images/_template/btn-gray.png") left bottom repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.btn:hover {
	border: 1px solid #bfbfbf;
	background-position: left top;
	text-decoration: none;
}

/* GRID */
.column { float: left; }
.grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { width: 100%; }

.grid2col .column { width: 49%; }
.grid2col .grid2col .column { width: 47.8%; }
.grid3col .grid2col .column { width: 46%; }
.grid4col .grid2col .column { width: 45%; }

.grid2cola .column.first { width: 66%; }
.grid2cola .column.last { width: 32%; }

.grid2colb .column.first { width: 74.9%; }
.grid2colb .column.last { width: 23%; }

.grid2colc .column.first { width: 32%; }
.grid2colc .column.last { width: 66%; }

.grid2cold .column.first { width: 23%; }
.grid2cold .column.last { width: 74.9%; }

.grid2cole .column.first { width: 79%; }
.grid2cole .column.last { width: 19%; }

.grid2colf .column.first { width: 19%; }
.grid2colf .column.last { width: 79%; }

.grid3col .column { width: 31%; margin-left: 3%; }
.grid2col .grid3col .column { width: 31%; }

.grid3cola .column { width: 58%; margin-left: 2%; }
.grid3cola .column.first,
.grid3cola .column.last { width: 19%; }

.grid4col .column { width: 23%; margin-left: 3%; }

.grid5col .column { width: 18.4%; margin-left: 2%; }

.grid6col .column { width: 15%; margin-left: 2%; }

.column.first, .column.last { margin-left: 0 !important; }
.column.last { float: right !important; }

p.last, ul.last, ol.last, li.last { _width: auto !important; _float: none !important; }

#container:after, #content:after, .grid2col:after, .grid2cola:after, .grid2colb:after, .grid2colc:after, .grid2cold:after, .grid2cole:after, .grid2colf:after, .grid3col:after, .grid3cola:after, .grid4col:after, .grid5col:after, .grid6col:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#container, #content, .grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { zoom: 1; }

/* TYPE */


a.more { white-space: nowrap; padding-right: 10px; background: url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; zoom: 1; }
a[rel="external"], a.external { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 50%; zoom: 1; }
strong, b { font-weight: bold; }
.large strong, strong.blue { font-weight: normal; color: #1550a1; }

em, i { font-style: italic; }
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; color: #76797c; _position: static !important; }
abbr { border: 0; }
.sosumi { font-size: 10px !important; color:#76797c; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: Black; display: block; letter-spacing: -1px; }
h1, .h1 { font-weight: normal !important; font-size: 46px; margin-bottom: 24px; margin-top: 5px; letter-spacing: -2px; }
h2, .h2 { font-weight: normal !important; font-size: 36px; margin-bottom: 24px; }
h3, .h3 { font-weight: normal !important; font-size: 24px; margin-bottom: 24px; text-transform: lowercase; }
h4, .h4 { font-weight: normal; font-size: 15px; margin-bottom: 0; line-height: 18px; letter-spacing: normal; }
.large { font-size: 17px; line-height: 24px; }
p.large { margin-bottom: 20px; }
p.intro { font-weight: bold; }
.more { text-align: right; }
.light { color: #cbcbcb; }

ul { margin-bottom: 18px; list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle { margin-left: 2em; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul ul.circle,
ul ul.square { margin-top: 4px; margin-bottom: 5px; }
ol.sosumi { margin-left: 0; padding-left: 2em; }


/* PRINT */
@media print {
	body, #main, #content { color: #000 !important; }
	#masthead h1, #masthead h2 { text-indent: 0; }
	a, a:link, a:visited { color: #000 !important; text-decoration:none !important; }
	#tabs, #globalheader, #globalfooter, #directorynav, .noprint, .hide { display: none !important; }
	#main a.pdf, #main a.html, #main a.qt, #main a.ical, #main a.dl, #main a.dmg, #main a.zip, #main a.keynote, #main a.audio { padding-left: 0 !important; background-image: none !important; }
}

/* iPhone */
@media screen and (max-device-width: 480px) { 
	html { -webkit-text-size-adjust: none; } 
	#footer { display: none; }
}
/* iPad */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) { 
	html { -webkit-text-size-adjust: none; } 
	#footer { display: none; }
	#masthead, #contentWrap, #footer { min-width: 1002px; }
}
/* iPad portrait */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) { 
	#masthead, #contentWrap { min-width: 768px; width: 768px; }
	#topNav { width: auto; right: 0; }
	#topNav li a { padding: 0 15px; }
	#masthead #mastlogo { width: 294px; height: 52px; left: 25px; top: 15px; margin-right: 20px; }
	.content, #hero, hr.contentDivider { width: 752px; }
	.content { padding: 0 8px; left: 0; margin-left: 0; }
	hr.contentDivider { background-position: -137px top; }
	#hero .feature {
		width: 567px;
		height: 386px;
		left: 0;
	}
	#hero .callout {
		width: 185px;
		height: auto;
		left: 567px;
	}
	#masthead h1, #masthead h2 { display: none; }
	.callout .large { font-size: 13px; line-height: 21px; }
	.grid3col .column.project { width: 100%; margin-left: 0; margin-right: 0; clear: both; }
	.project h4 { font-size: 24px; margin-top: 10px; margin-bottom: 5px; }
	.project small { font-size: 16px; line-height: 26px; }
}