/* ChunkFiveWeb */
@font-face {
  font-family: "ChunkFiveWeb";
  src: url("/_includes/_webfonts/chunkfive/Chunkfive-webfont.eot?iefix") format("eot");
}

@font-face {
  font-family: "ChunkFiveWeb";
  src: url("http://:/") format("No-IE-404"), url("/_includes/_webfonts/chunkfive/Chunkfive-webfont.woff") format("woff"), url("/_includes/_webfonts/chunkfive/Chunkfive-webfont.ttf") format("truetype"), url("/_includes/_webfonts/chunkfive/Chunkfive-webfont.svg#svgFontName") format("svg");
}

/* DroidSerif Regular */
@font-face {
  font-family: "DroidSerifRegular";
  src: url("/_includes/_webfonts/droidserif/DroidSerif-Regular-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "DroidSerifRegular";
  src: url("http://:/") format("No-IE-404"), url("/_includes/_webfonts/droidserif/DroidSerif-Regular-webfont.woff") format("woff"), url("/_includes/_webfonts/droidserif/DroidSerif-Regular-webfont.ttf") format("truetype"), url("/_includes/_webfonts/droidserif/DroidSerif-Regular-webfont.svg#svgFontName") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* DroidSerif Italic */
@font-face {
  font-family: "DroidSerifItalic";
  src: url("/_includes/_webfonts/droidserif/DroidSerif-Italic-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "DroidSerifItalic";
  src: url("http://:/") format("No-IE-404"), url("/_includes/_webfonts/droidserif/DroidSerif-Italic-webfont.woff") format("woff"), url("/_includes/_webfonts/droidserif/DroidSerif-Italic-webfont.ttf") format("truetype"), url("/_includes/_webfonts/droidserif/DroidSerif-Italic-webfont.svg#svgFontName") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* DroidSerif Bold */
@font-face {
  font-family: "DroidSerifBold";
  src: url("/_includes/_webfonts/droidserif/DroidSerif-Bold-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "DroidSerifBold";
  src: url("http://:/") format("No-IE-404"), url("/_includes/_webfonts/droidserif/DroidSerif-Bold-webfont.woff") format("woff"), url("/_includes/_webfonts/droidserif/DroidSerif-Bold-webfont.ttf") format("truetype"), url("/_includes/_webfonts/droidserif/DroidSerif-Bold-webfont.svg#svgFontName") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* DroidSerif Bold Italic */
@font-face {
  font-family: "DroidSerifBoldItalic";
  src: url("/_includes/_webfonts/droidserif/DroidSerif-BoldItalic-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "DroidSerifBoldItalic";
  src: url("http://:/") format("No-IE-404"), url("/_includes/_webfonts/droidserif/DroidSerif-BoldItalic-webfont.woff") format("woff"), url("/_includes/_webfonts/droidserif/DroidSerif-BoldItalic-webfont.ttf") format("truetype"), url("/_includes/_webfonts/droidserif/DroidSerif-BoldItalic-webfont.svg#svgFontName") format("svg");
	font-weight: normal;
	font-style: normal;
}

#contentWrap {
	background: #f2f2f2 url('/_images/_template/_portfolio/spackle_bg_base.png') left top repeat;
}

#resume, p {
     color: #333;
		 font-size: 1em;
		 line-height: 1.5em;
     font-family: 'Lucida Sans Unicode', Helvetica, Arial, Sans-Serif;
}

#resume h1, #resume .h1, #resume h2, #resume .h2, #resume h3, #resume .h3, #resume p.h3, #resume h4, #resume .h4 {
	padding: 0;
	padding-right: 0 !important;
	margin: 0;
	-moz-text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
	-webkit-text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

#resume #hd h1 {
     font-family: 'ChunkFiveWeb',Arial,Helvetica,sans-serif;
     font-size: 3.9em;
		 font-weight: normal;
		 letter-spacing: -1px;
		 margin-bottom: .4em;
}

#resume h2, #resume .h2, #resume h3, #resume .h3, #resume h4, #resume .h4 {
	font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
	font-weight: bold !important;
	font-style: normal;
	letter-spacing: normal;
	color: #111;
}
#resume .contact-info .h3 { font-weight: normal !important; }
#resume h2, #resume .h2, #resume .job h3.h2 {
     font-size: 1.5em;
}
#resume .first h2, #resume .first .h2, #resume h3, #resume .h3, #resume p.h3
#resume .serif, #resume em.serif {
	font-family: 'DroidSerifItalic',Georgia,Times,Serif;
	text-transform: none;
	font-weight: normal !important;
	font-style: normal !important;
}
#resume .first h2, #resume .first .h2 { font-size: 1.5em; color: #111; }

#resume #hd h3, #resume #hd .h3 {
	font-family: inherit;
	text-transform: none;
}

#resume h3, #resume .h3 { font-size: 1.2em; margin-top: .2em; }
#resume .job h3, #resume .job .h3 { font-size: 1.1em; }
#resume h4, #resume .h4 { font-size: 1.1em; }


#resume p {
     padding-right: 3em;
}
#resume .last p, #resume p.last { padding-right: 0; }

#resume p.enlarge {
     font-size: 1.1em;
     line-height: 1.5em;
}

#resume p.enlarge em {
     color: #000000;
		 font-style: normal;
}


#resume .msg {
     background: none repeat scroll 0% 0% #222222;
     padding: 10px;
     position: relative;
}

#resume .msg h1 {
     color: #FFFFFF;
}

#resume .msg a {
     background: none repeat scroll 0% 0% #408814;
     color: white;
     margin-left: 20px;
     padding: 4px 8px;
     text-decoration: none;
}

#resume .msg a:hover {
     background: none repeat scroll 0% 0% #266400;
}

#resume #inner {
     margin: 0pt auto;
     padding: 10px 80px;
}

#resume .yui-gf, #resume #hd, #resume .job, #resume li {
		 border-bottom: 1px solid rgba(178,178,178,0.6);
		 -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8);
		 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8);
		 box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
#resume .job li {
		 border-bottom: 1px solid rgba(178,178,178,0.3);
		 -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4);
		 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4);
		 box-shadow: 0 1px 0 rgba(255,255,255,0.4);
		 padding: 0 10px;
		 font-size: .9em;
}

#resume #ft {
		 border-top: 1px solid rgba(255,255,255,0.8);
		 padding: 2em 0;
}
#resume #bd {
		 border-bottom: 1px solid rgba(178,178,178,0.6);
}


#resume .yui-gf {
     margin-bottom: 2em;
     padding-bottom: 2em;
}

#resume #ft {
     font-size: 92%;
     padding: 1em 0pt 5em;
     text-align: center;
}

#resume #ft p {
     margin-bottom: 0pt;
     text-align: center;
}

#resume a:hover {
     text-decoration: none;
}

#resume li {
     line-height: 24px;
}

#resume .contact-info {
     margin-top: 0pt;
     position: absolute;
     top: 6px;
    right: 0;
}

#resume #hd {
     margin: 0pt 0pt 3em;
     padding-bottom: 1.5em;
     position: relative;
}

#resume #hd h2, #resume #hd .h2 {
     font-size: 132%;
     letter-spacing: 1px;
     text-transform: uppercase;
}

#resume #hd h3, #resume #hd .h3 {
     margin-bottom: .6em;
}

#resume a#pdf {
     background: none repeat scroll 0% 0% #666666;
     color: white;
     display: block;
     float: left;
     margin-bottom: 6px;
     padding: 6px 50px 6px 12px;
     text-decoration: none;
}

#resume a#pdf:hover {
     background: none repeat scroll 0% 0% #222222;
}

#resume .job {
     margin-bottom: 1em;
     padding-bottom: 1em;
     position: relative;
}

#resume .job h4.timeperiod, #resume .job .h4.timeperiod {
     position: absolute;
     right: 0pt;
     top: 0.35em;
}
#resume .job h2, #resume .job .h2 { margin-bottom: .5em; }
#resume .job .h3 { margin-bottom: 2em; }
#resume .job .h3 strong { letter-spacing: -1px; }
#resume .job p {
     margin: 0.75em 0pt 3em;
}
#resume .job p.h2, #resume .job p.h3, #resume .job p.h4 { margin: 0 0 1em 0; } 

#resume .last {
     border: medium none;
     border-bottom: 0pt none;
		 -moz-box-shadow: 0 0 0 transparent;
		 -webkit-box-shadow: 0 0 0 transparent;
		 box-shadow: 0 0 0 transparent;
}

#resume .skills-list {
    
}

#resume .skills-list ul {
     margin: 0pt;
}

#resume .skills-list li {
     margin: 3px 0pt;
     padding: 3px 0pt;
}

#resume .skills-list li span {
     display: block;
     font-size: 152%;
     margin-bottom: -2px;
     padding: 0pt;
}

#resume .talent {
     float: left;
     width: 31%;
		 margin-right: 3%;
}
#resume .talent.last { margin-right: 0; }
#resume .talent p { padding-right: 1em; }

#resume .talent h2, #resume .talent .h2 {
     font-size: 1.4em;
		 margin-bottom: 6px;
}

#resume #srt-ttab {
     margin-bottom: 100px;
     text-align: center;
}

#resume #srt-ttab img.last {
     margin-top: 20px;
}

#resume .yui-gf .yui-u {
     width: 80.2%;
}

#resume .yui-gf div.first {
     width: 12.3%;
}